<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Companies
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (input)="searchCompanies($event)" color="primary"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let company of data; let i = index;">
    <h6><b>{{company.companyName}}, {{company.location}} <span class="count">({{company.count}})</span></b></h6>
    <!-- <ion-card-subtitle class="count">Interviews ({{company.count}})</ion-card-subtitle> -->
    <ion-card-subtitle class="date">Last Interview On: <b>{{company.lastUpdatedDate}}</b></ion-card-subtitle>
  </ion-card>
</ion-content>