ion-item {
	&#smileys {
		input[type="radio"] {
			-webkit-appearance: none;
			width: 50px;
			height: 50px;
			border: none;
			cursor: pointer;
			transition: border .2s ease;
			filter: grayscale(100%);
			margin: 0 10px;
			transition: all .2s ease;
			
			&:hover, &:checked {
				filter:	grayscale(0);
			}
			
			&:focus {
				outline: 0;
			}
			
			&.happy {
				background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/happy_ampvnc.svg') center;
				background-size: cover;
			}
			
			&.neutral {
				background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/neutral_t3q8hz.svg') center;
				background-size: cover;
			}
			&.sad {
				background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/sad_bj1tuj.svg') center;
				background-size: cover;
			}
		}
	}
}

.arrayInput {
	display: flex;
	align-items: center;
	justify-content: center;
}